body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background-repeat:repeat-x;
}
*
{
    margin: 0 auto 0 auto;
    text-align:left;}

#container
{
    display: block;
    height:auto;
    position: relative;
    width: 960px;
}

#header
{
    height:85px;
    width:960px;
}

#header h1
{
    position:absolute;
    text-align:left;
    font-size:60px;
    top:18px;
    border-style:solid;
    border-width:5px;
}

#header h2
{
    position:absolute;
    text-align:middle;
    left:400px;
    top:75px;
    width:400px;
}

#header h3
{
    position:absolute;
    text-align:right;
    right: 0px;
    top:20px;
    width:400px;
}

#menu
{
    display:block;
    float:left;
    clear:both;
    width:960px;
    height:54px;
    float:left;
    clear:both;
}

#leftmenu
{
    margin-top:15px;
    width:204px;
    float:left;
}

#leftmenu_top
{
    width:204px;
    height:13px;
}

#leftmenu_bottom
{
    width:204px;
    height:13px;
}

#leftmenu_main
{
    width:204px;
    height:auto;
}

#leftmenu_main ul
{
    list-style: none;
    padding: 0px;
    width:204px;
}

#leftmenu_main ul li
{
    list-style: none;
    padding: 0px;
    width:204px;
    text-align:left;
}

#leftmenu_main ul li a, #leftmenu_main ul li a:visited
{
    display:block;
    list-style: none;
    padding: 0px;
    width:192px;
    padding-left:12px;
    padding-top:4px;
    height:30px;
    text-align:left;
    background-repeat:repeat-x;
    margin-top:5px;
    text-decoration:none;
    font-size:15px;
    font-weight:bold;
    border-style:solid;
    border-width:5px;
}

#leftmenu_main ul li a:hover
{
    /*color:#EED7D7;*/
    color:#9900CC;
}

#content
{
    display:block;
    float:left;
    width:689px;
    height:auto;
    padding-left:10px;
    padding-top:15px;
    padding-right:10px;
    padding-bottom:5px;
}


#content_top
{
	background-repeat:no-repeat;
	width:689px;
	height:23px;
}

#content_main
{
    background-repeat:repeat-y;
    width:659px;
    padding-left:40px;
    padding-right:15px;
}

#content_main h2
{
    background-repeat:repeat-y;
    width:689px;
    padding-left:15px;
    padding-right:15px;
    font-size:50px;
    text-align:center;
}

#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:960px;
}

#menu li {
	list-style: none;
	padding: 0px;
	display: inline;
}

#menu a {
	float: left;
	height: 36px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 18px;
	font-size: 15px;
	padding-left:13px;
	padding-right:13px;

}

#content p
{

}


html, body {
text-align: center;
}
p {text-align: left;}
