{# The header for the resident UI. #}
<header role="banner">
  <div class="blade">
      <h1>SmartHome</h1>
      <h2>Welcome user!</h2>
      <nav class="minor-nav">
          <a href="#">preferences</a> | <a href="#">logout</a>
      </nav>
  </div>
</header>

<aside class="left-menu">
  <nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Achievements</a></li>
        <li><a href="./scoreboard.php">Scoreboard</a></li>
        <li><a href="#">Advice</a></li>
        <li><a href="#">History</a></li>
    </ul>
  </nav>
</aside>

