{# The header for the resident UI. #}
<header role="banner">
  <div class="blade">
      <h1 class="logo">SmartHome</h1>
      <nav class="minor-nav">
          <span class="user-status">Welcome {{ user|default('anonymous') }}!</span>
          <a href="#">Preferences</a> | <a href="#">Logout</a>
      </nav>
  </div>
</header>

<aside class="left-menu">
  <nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="./achievements.php">Achievements</a></li>
        <li><a href="./scoreboard.php">Scoreboard</a></li>
        <li><a href="#">Advice</a></li>
        <li><a href="#">History</a></li>
    </ul>
  </nav>
</aside>

