{# Achievements table

   Uses `achievements` array.

#}
{# PROBABLY should host these icons ourselves and make sure the license is
   permissive enough. #}
{% set achievedIcon = "http://findicons.com/files/icons/1197/agua/128/home_badge.png" %}
{% set notAchievedIcon = "http://findicons.com/files/icons/1580/devine_icons_part_2/128/home.png" %}
<div class="achievements">
{% for achievement in achievements %}
  {%- set iconURL = achievement.achieved ? achievedIcon : notAchievedIcon %}
  {%- set desc = achievement.description %}
  <div><img src="{{ iconURL }}" alt="{{ desc }}" title="{{ desc }}" /></div>
{% endfor %}
</div>
