div.config {
  margin: 10px;
}

div.config-display {

}

div.config-display .title {
  font-weight: bold;
  font-size: 150%;
  margin: 5px;
  margin-left: 0px;
  text-decoration: underline;
}

div.config-display table {
  width: 95%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

div.config-display table th {
  border: 2px solid black;
  background: #CCCCCC;
}

div.config-display table td,
div.config-display table th
{
  border: 2px solid #CCCCCC;
  margin: 5px;
}

div.config-display table .name {
  width: 20%;
  padding: 5px;
}

div.config-display table .value {
  width: 40%;
  padding: 5px;
}

div.config-display table .description {
  width: 40%;
  padding: 5px;
}

/* TODO: This CSS is specific to the utilitycontracts and residents pages... */
div.config-display table .type,
div.config-display table .price
{
  width: 20%;
}

div.config-display table .startdate,
div.config-display table .enddate
{
  width: 25%
}

div.config-display table .room {
  width: 15%;
}

div.config-display table .username,
div.config-display table .roomstatus,
div.config-display table .location
{
  width: 20%;
}
/* ENDTODO */
 
div.config-display .footer {
  width: 97.5%;
  text-align: right;
  margin-top: 3px;
}

div.config-editor {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div.config-editor fieldset {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

div.config-editor legend {
  font-weight: bold;
  font-size: 120%;
  text-align: left;
  text-decoration: underline;
  margin-bottom: 5px;
}

div.config-editor label {
  font-weight: bold;
}

div.config-editor input {
  width: 100%;
}

div.config-editor .footer {
  text-align: right;
  width: 100%
}

div.config-editor .button {
  width: 10em;
}

div.config-editor .id {
  display: none;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 20px;
}

.ui-button {
  height: 21px;
}

.ui-button-text {
  font-size: 17px;
  margin-top: -6.5px;
}

/* Calculations but whatever... */
.results-box {
    display: inline-block;
    width: 620px;
}

.herp-panel {
    max-width: 320px;
    display: inline-block;
    float:left;
}

