/* I only really kept this around for the neat looking serif font
 * and pale green headers. */

#wrapper {
    width: 100%;
    height: 100%;
}

#menu_content {
    float: left;
    width: 300px;
    height: 100%;
    border-top: 1px solid #ccc;
}

#icons {
    float: left;
    width: 6%;
    height: 100%;
}    

#results {
    float: right;
    width: 69%;
    height: 100%;
}

#menu_content a {
    font-size: 2em;
    color: #666;
    text-decoration: none;
}

#menu_content ul {
    padding: 0;  
}

#menu_content ul li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#menu_content ul li ul li {
    display: inline;
    border: none;
}

#menu_content ul li a {
    font-size: 2em;
    text-indent: 6px;
    display: block;
    padding: 6px;    
}

#menu_content ul li a:hover {
    color: #FFF;
    background-color: #006363;
}

a.selected {
    color: #FFF;
    background-color: #006363;
}

.submenus {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.submenus ul {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

#sensors {
    width: 100%;
}

fieldset {
    width: 92%;
    border-radius: 5px;
    margin: 2px 0;
}

label {
    display: inline;
    width: 125px;
}

input[type="checkbox"] {
    display: block;
    float: left;    
}

input[type="radio"] {
    display: block;
    float: left;
}

.images {
    width: 75%;
    margin: 0 auto;
}

.graph1 {
    display: block;
    width: 95%;
    height: 300px;
    margin: 0 auto 10px auto;
}

.graph2 {
    display: block;
    width: 95%;
    height: 300px;
    margin: 10px auto 0 auto;
}



