body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.masthead {
    margin: auto;
    width: 960px;
    position: relative;
}

.inline-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inline-nav > li {
    display: inline;
}

.primary-nav {
    font-size: larger;
    display: inline;
}

.logo {
    width: 220px;
    margin: 0 10px;
    display: inline;
}
.logo a:link {
    color: black;
    text-decoration: none;
}

.primary-nav > ul {
    display: inline;
    margin: 0 10px;
}
.secondary-nav {
    position: absolute;
    top: 0;
    right: 0;
}
.page-header {
    height: 48px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.content-wrapper {
    width: 960px;
    margin: auto;
    position: relative;
}

.search-controls {
  /* Make the controls a little thing to the right. */
  width: 220px;
  margin: 0 10px;
  position: absolute;
  left: 0;
}

div.config-display {
  margin: 10px;
}

div.config-display .title {
  font-weight: bold;
  font-size: 150%;
  margin: 5px;
  margin-left: 0px;
}

div.config-display table {
  width: 100%;
  border-collapse: collapse;
}

div.config-display table th {
  border: 2px solid black;
  background: #CCCCCC;
}

div.config-display table td,
div.config-display table th
{
  border: 1px solid #CCCCCC;
  margin: 5px;
}

div.config-display table .name {
  width: 10%;
}

div.config-display table .value {
  width: 40%;
}

div.config-display table .description {
  width: 40%;
}

div.config-editor-container {
  text-align: center;
}

div.config-editor {
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
}

div.config-editor label {
  float: left;
  text-align: right;
  width: 5em;
  margin-right: 1em;
}

div.config-editor input {
  width: 60%;
}

div.config-editor .button {
  width: 45%;
}

div.config-editor legend {
  font-weight: bold;
  font-size: 150%;
  margin: 5px;
  text-align: left;
}

